.root{
    --text-color: #434455
    --background-color: #FFFFFFFF
}
.body{
font-family:"Roboto", sans-serif;
color: #434455;
background-color: var(--background-color);
}

.logo{
font-family: "Raleway", sans-serif;
color: #4D5AE5;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}
.link{
    text-decoration:none;
}
.span-logo-header{
    color:#2E2F42;
}
.list{
    list-style: none;
}

.list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text-color);
}

.address-class{
    font-style: normal;
}

.adress-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.adress-list:hover{
    color: #404bbf;
}
.adres-list:focus{
    color: #404bbf;
}

.listitem1{
    font-size:16px;
    line-height: 1.5;
    letter-spacinig: 0.02em;
    color: #434455;
}
.list-item:hover{
    color:#404bbf;
}
.list-item:focus{
    focus:#404bbf;
}
.section-style{
    background-color:#2e2f42
}
.section-title{
    font-size:56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
}
.button-order-service{
    background-color:  #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor:pointer;
}
.button-order-service{
    background-color: #404bbf;
}


.section-three-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-four{
    background-color: #F4F4FD;
}

.element-list-four{
   background-color: #FFFFFFFF; 
}



.footerstyle{
    background-color:#2e2f42;
}
.footer-logo{
font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration:none
}
.link{
    text-decoration: none;
}
.span-logo-footer{
    color: #f4f4f4fd;
}
.footerp{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
.button-portfolio{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    text-decoration: none;
    background-color: #F4F4FD;
    cursor: pointer;
}


.button-portfolio :hover{
    color: #FFFFFFFF;
}
.button-portfolio :focus{
    color: #FFFFFFFF;
}
