
.root {
    --text-color: #434455;
    --background-color:#FFFFFFFF;
    --dark-blue-var:#2e2f42;
    --blue:#4d5ae5;
    --light-color:#F4F4F4FD;
    --iris:#404bbf;  
}


.body {
font-family:"Roboto", sans-serif;
color: var(--text-color);
background-color:var(--background-color);
}

.nav-bar-container{
    color:var(--dark-blue-var);
    text-decoration: none;
    

}

.nav-bar-container:hover{
    color:var(--iris);
}

.nav-bar-container:focus{
    color:var(--iris);
}

.link{
   text-decoration: none;
}

.logo{
font-family: "Raleway", sans-serif;
color:var(--blue);
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform:uppercase;
}

.span-logo-header {
   color:var(--dark-blue-var);
}
.list {
    list-style: none;
    text-decoration: none;
}

.nav-list-item{
    font-weight: 500;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-var);
    text-decoration: none;
}
.nav-list-item:hover {
    color:var(--iris);
}
.nav-list-item:focus{
    color:var(--iris);
}

.address-class{
    font-style: normal;
    text-decoration: none;
    color:var(--text-color)
}

.address-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color); 
   }

.address-list:hover {
    color: var(--iris);
}
.address-list:focus {
    color: var(--iris);
}


.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-blue-var);  
}

.list-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text-color); 
}

.paragraph-four{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text-color);   
}



.nav-link:focus{
    color:var(--iris);
}

.section-style{
    background-color:var(--dark-blue-var);
}
.section-title{
    font-size:56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--background-color);
}
.button-order-service{
    background-color: var(--blue);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--background-color);
    cursor:pointer;
}

.button-order-service:focus{
    background-color:  var(--iris);
}
.button-order-service:hover{
    background-color: var(--iris);
}

.section-three-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--dark-blue-var);
}

.section-four{
    background-color: var(--light-color);
    color:var(--text-color);
}

.element-list-four{
   background-color: var(--background-color); 
}


.footerstyle{
    background-color: var(--dark-blue-var);}

.footer-logo{
font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue);
  text-decoration: none;
}

.link {
    text-decoration: none;
}
.span-logo-footer {
    color:var(--light-color);
}
.footerp {
    line-height: 1.5;
    color:var(--light-color);
    letter-spacing: 0.02em;
}
.button-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--blue);
    background-color: var(--light-color);
    text-decoration: none;
    cursor: pointer;
}


.button-portfolio:hover {
    color: var(--background-color);
    background-color: var(--iris);
}
.button-portfolio:focus {
    color: var(--background-color);
    background-color: var(--iris);
}

.portfolio-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--dark-blue-var);
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--text-color); 
}

.project-link{
    color:var(--text-color);
}